#cloud-config
package_update: true
packages:
  - curl

runcmd:
  - [bash, -o, pipefail, -c, "curl -sfL https://get.k3s.io | sh -s - server --cluster-init --disable traefik --tls-san ${tls_san} --write-kubeconfig-mode 0640 --write-kubeconfig-group ubuntu"]
